
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_dispute{
  background-color: rgb(224, 138, 80);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start:7px;
  /* margin-left: 250px;
  margin-right: 250px; */
}
.totalscore{
  /* background-color: rgb(238, 238, 238); */
  width: 500px;
  height: 25px;
  color: green;
  /* border: 15px solid green; */
  padding: 10px;
  margin-left: 1000px;
  
}

.accuracyscore{
  /* background-color: rgb(238, 238, 238); */
  width: 500px;
  height: 25px;
  color: rgb(19, 0, 128);
  /* border: 15px solid green; */
  padding: 10px;
  margin-left: 1000px;
  
}
.attempt{
  /* background-color: rgb(238, 238, 238); */
  width: 500px;
  height: 25px;
  color: rgb(128, 0, 85);
  /* border: 15px solid green; */
  padding: 10px;
  margin-left: 1000px;
  
}

.table {
   margin: auto;
   width: 75% !important; 
}

</style>

<div>
    <br>
    <h2 class= "text-center text-info">Caption Rater - The Game!</h2>
    <br>
    
    <h3 class="text-center text-info">Dashboard</h3>
    
    <h5 class="totalscore">Total Score: 400</h5>
    <h5 class="accuracyscore">Accuracy: 400</h5>
    <h5 class="attempt">Number of Attempts: 4</h5>
  
      <br>
      <div>
      <table  class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Caption</th>
            <th scope="col">Your Rating</th>
            <th scope="col">Consensus</th>
            <th scope="col">Scores earned</th>
            <th scope="col">Create a dispute</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Image 1</th>
            <td>A golden retriever holds several tennis balls in its mouth.</td>
            <td>5</td>
            <td>4.8</td>
            <td>100</td>
            <td>
              <input type="submit" name="submit" class="button_dispute" value="Dispute"> 
            </td>
          </tr>
          <tr>
            <th scope="row">Image 2</th>
            <td>Two people are driving in a car.</td>
            <td>4</td>
            <td>1</td>
            <td>0</td>
            <td>
              <input type="submit" name="submit" class="button_dispute" value="Dispute"> 
            </td>
          </tr>
          <tr>
            <th scope="row">Image 3</th>
            <td>...</td>
            <td>4</td>
            <td>2</td>
            <td>0</td>
            <td>
              <input type="submit" name="submit" class="button_dispute" value="Dispute"> 
            </td>
          </tr>
          <tr>
            <th scope="row">Image 4</th>
            <td>...</td>
            <td>4</td>
            <td>4</td>
            <td>200</td>
            <td>
              <input type="submit" name="submit" class="button_dispute" value="Dispute"> 
            </td>
          </tr>
          <tr>
            <th scope="row">Image 5</th>
            <td>....</td>
            <td>1</td>
            <td>1.5</td>
            <td>100</td>
            <td>
              <input type="submit" name="submit" class="button_dispute" value="Dispute"> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="form-group">
      <input type="submit" name="submit" class="button_next" value="Next">

   </div> -->
    </div>