<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<style>
  .body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #717ea1;
    color: #000000;
  }

  .image {
    /* margin-top: -90px;
      margin-bottom: -90px; */
    width: 100%;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
  }

  .heading-text {
    color: #61259e;
    font-weight: 800;
    font-size: 36px;
    padding: 3%;
  }

  .login-text {
    color: #61259e;
  }

  .fields-text {
    color: #306866;
  }

  .img-div {
    box-shadow: 4px 4px 10px 4px #606883;
    border-radius: 15px;
    background-color: rgb(163, 196, 196);
    width: 35%;
  }

  @media screen and (max-width: 900px) {
    .wrapper {
      background-color: #dfddd4;
      margin: 4%;
      box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
      border-radius: 10px;
    }

    /* .image {
      width: 100%;
    } */
    .heading-text {
      font-size: 30px;
    }
  }

  @media screen and (min-width: 900px) {
    .wrapper {
      background-color: #dfddd4;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 2%;
      margin-bottom: 2%;
      box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
      border-radius: 15px;
    }

    /* .image { */
    /* margin-top: -90px;
      margin-bottom: -90px; */
    /* width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    } */
  }
</style>

<body class="body">
  <div class="wrapper">
    <h1 class="text-center heading-text">Caption Rater - The Game!</h1>
    <div class="img-div d-block mx-auto">
      <img src="https://validatedicr.org/gifs/Loginregister.gif" class="image" />
    </div>

    <div id="login-row" class="row justify-content-center align-items-center mt-5">
      <div id="login-column" class="col-md-8">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="/login" method="post">
            <%if (error_msg.length> 0) { %>
              <h6 style="color: red">Login failed, please try again!</h6>
              <% } %>
                <div class="form-group">
                  <label for="email" class="fields-text">Email:</label><br />
                  <input type="email" name="email" id="email" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="password" class="fields-text">Password:</label><br />
                  <input type="password" name="password" id="password" class="form-control" required />
                </div>
                <div id="register-link" class="text-left">
                  <a href="/register" class="">Register here</a>
                </div>
                <div class="form-group text-center">
                  <input type="submit" name="submit" class="btn btn-info btn-md" value="Login" />
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>