<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.button_login{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start:25px;
  /* margin-left: 250px;
  margin-right: 250px; */
}

.button_register{
  background-color: rgb(35, 90, 134);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start:500px;
  /* margin-left: 250px;
  margin-right: 250px; */
}

</style>

<div>
    <br>
    <h2 class= "text-center text-info center">Caption Rater - The Game!</h2>
    <br>
    <h2 class= "text-center text-info center">Thank you for playing! Caption Rater is undergoing maintenance and will reopen soon. If you want to be informed of when the game will be reopened, you can fill out <a href="https://forms.gle/XYuKtcVuPpJtZu9j8">this form.</a>
    </h2>
    </div>