<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  .body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #717ea1;
    color: #000000;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .button_login {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    border-radius: 8px;
    cursor: pointer;
    margin-inline-start: 25px;
    /* margin-left: 250px;
  margin-right: 250px; */
  }

  .button_register {
    background-color: rgb(35, 90, 134);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    border-radius: 8px;
    cursor: pointer;
    margin-inline-start: 500px;
    /* margin-left: 250px;
  margin-right: 250px; */
  }

  @media screen and (max-width: 900px) {
    .image {
      /* margin-top: -90px;
      margin-bottom: -90px; */
      width: 100%;
      /* display: block; */
      /* margin-left: auto;
    margin-right
    : auto; */
    }
    .wrapper {
      background-color: #dfddd4;
      margin: 2%;
      box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
      border-radius: 10px;
    }
  }
  @media screen and (min-width: 900px) {
    .image {
      /* margin-top: -90px;
      margin-bottom: -90px; */

      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper {
      background-color: #dfddd4;
      margin-top: 10%;
      margin-left: 20%;
      margin-right: 20%;
      box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
      border-radius: 10px;
    }
  }
</style>

<body class="body">
  <div class="wrapper">
    <br />
    <h1 class="text-center text-info center">Caption Rater - The Game!</h1>
    <img src="https://caption.click/gifs/Dashboard_.gif" class="image" />
    <h1 class="text-center text-info center">
      Thank you for playing! Caption Rater is taking a break and will reopen
      another time!
    </h1>
  </div>
</body>
