<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button_next {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-inline-start: 970px;
    /* margin-left: 250px;
  margin-right: 250px; */
  }


  .table {
    margin: auto;
    width: 50% !important;
  }
</style>

<div>
  <br>
  <h2 class="text-center text-info">Caption Rater - The Game!</h2>
  <br>

  <h4 class="text-center text-info">Leaderboard</h4>
  <br>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < sort_TotalScore.length; i++) { %>

        <tr>
            <th scope="row"><%= sort_TotalScore[i].username %></th>
            <td><%= sort_TotalScore[i].total_score %></td>
            </td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </div>
  <br>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < sort_TotalScore.length; i++) { %>

        <tr>
            <th scope="row"><%= sort_TotalScore[i].username %></th>
            <td><%= sort_TotalScore[i].total_score %></td>
            </td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </div>

  <form method="GET" action="/play" class="form-group">
    <input type="submit" name="submit" class="button_next" value="Play">
  </form>
</div>