<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_next{
  background-color: rgb(224, 138, 80);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start:970px;
  /* margin-left: 250px;
  margin-right: 250px; */
}


.table {
   margin: auto;
   width: 50% !important; 
}

</style>

<div>
    <br>
    <h2 class= "text-center text-info">Caption Rater - The Game!</h2>
    <br>
    <p class="text-center text-info">You will be presented with a series of images, along with a caption that describes the image.</p>
    <p class="text-center text-info"> Your goal: Rate how well the caption fits the image, using the scale below.
      The closer your rating matches to a group consensus, the more points you earn!
      </p>
      <br>
      <div>
      <table  class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">Description</th>
            <th scope="col">Likert scale</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Poor caption. Completely wrong.</td>
            <td>Strongly disagree</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Captures part of image</td>
            <td>Disagree</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Captures part of image, weird language or action.</td>
            <td>Neither agree nor disagree</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Describes image mostly.</td>
            <td>Agree</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Describes the image perfectly!</td>
            <td>Strongly agree</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <input type="submit" name="submit" class="button_next" value="Next">

   </div>
    </div>