<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_next{
  background-color: rgb(224, 138, 80);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px;
  border-radius: 8px;
  cursor: pointer;
  margin-inline-start:1250px;
  /* margin-left: 250px;
  margin-right: 250px; */
}


.table {
   margin: auto;
   width: 50% !important; 
}



</style>

<div>
    <br>
    <h2 class= "text-center text-info">Caption Rater - The Game!</h2>
    <br>
    <h4 class="text-center text-info">Caption Example.</h4>
    
      <br>
      <div style="display: flex;">
      <img src="https://blog.virginatlantic.com/wp-content/uploads/2012/06/Early-morning-fog-over-the-Golden-Gate-Bridge-%C2%A9-Shutterstock-1500x650.jpg" width="400" height="250" class="center">
      <br>
      
      <table  class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">Caption</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Two people sitting on a bus.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>There is a lot of fog.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Cars driving over a foggy bridge. </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>There is a bridge and fog in front of a city.</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>The Golden Gate Bridge rises above the fog, in front of the San Francisco skyline.</td>
          </tr>
        </tbody>
      </table>
    </div>


   <form method="GET" action="/leaderboard" class="form-group" >
    <input type="submit" name="submit" class="button_next" value="Next">
  </form>
    </div>