<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .wrapper {
    background-color: #dfddd4;
    /* margin-left: 10%;
      margin-right: 10%; */

    margin: auto;

    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding-bottom: 20px;
  }
  .body {
    padding: 3%;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #717ea1;
    color: #000000;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 3px;
    width: 94%;
  }
  .button_next {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    margin: auto;
    width: 70% !important;
    font-size: 14;
    border: 3.5px solid rgb(99, 99, 155);
    border-radius: 10px;
  }
</style>

<body class="body">
  <div class="container wrapper">
    <br />

    <br />
    <div class="card">
      <h2 class="text-center text-info">Caption Rater - The Game!</h2>
      <p class="text-center">
        You will be presented with a series of images, along with a caption that
        describes the image. Rate how well the caption fits the image to gain
        points. As more users agree on how well a caption fits the image, the
        confidence level will rise. The higher the confidence level, the more
        accurate you will have to be with your rating to earn points. You are
        encouraged to submit a dispute to your score, and given the option to do
        so in the dashboard and during gameplay.
      </p>
      <h2 class="text-center text-info">Becoming A Player</h2>
      <p class="text-center">
        Before you begin the game, you will need to successfully complete a
        tutorial. First, you will rate 10 images to familiarize yourself with
        the game and the rating system. Then, you will complete 20 test ratings
        as a "probation period" to ensure your ratings are in line with the
        expected rating. You need to earn at least 40 points in the tutorial to
        unlock and start the actual game. If you don’t earn at least 40 points,
        you will be sent to another pass of the tutorial and will complete 20
        more "probation period" test ratings. As it is explained in “how your
        score is calculated” below, we want game players to rate image-captions
        with values that are closely aligned with the community consensus.
      </p>
      <h2 class="text-center text-info">How Amazon gift cards will be paid:</h2>
      <p class="text-center">
        Points are accumulated for each rating you complete in the game. Once
        you reach the points below, you will be sent a gift card. Please allow
        some time for this process, as it is not automated.
        <br />
        300 points: $10 Amazon Gift Card will be sent to you
        <br />
        1100 points: additional $25
        <br />
        2000 points: additional $25
        <br />
        3000 points: additional $25
        <br />
        4250 points: additional $25
        <br />
        We will also reward the daily top 3 players with a special bonus gift
        card! Keep an eye out on the leaderboard page.
      </p>

      <h2 class="text-center text-info">Rating Guide</h2>
      <p class="text-center">
        This guide is available to you during gameplay. Please use it as
        necessary to ensure the most accurate ratings!
      </p>
      <div id="myDIV">
        <table class="table table-bordered table-secondary table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col">Rating</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                Objects are incorrectly identified. The caption gives the wrong
                idea about what is happening in the image.
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                Objects are partially correctly identified with some errors, but
                the caption is accurate enough to give an idea of what is
                happening in the image. The caption identifies most of the
                objects but might not identify everything. There is no
                interpretation of what anything means.
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                Relevant objects are correctly identified. The caption describes
                what is seen but not where objects are in space. There is no
                description of the overall setting and no interpretation of an
                event.
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                Objects and/or a general scene and/or an action are correctly
                identified but not every element is completely identified. The
                caption describes what is seen and where things are in space.
                There is no interpretation of an event.
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                Objects, a general scene, and actions are correctly identified
                if present in the image. The caption describes what is seen and
                where things are in space.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
    </div>

    <form method="GET" action="/tutorial" class="form-group">
      <input
        class="button_next"
        type="submit"
        name="submit"
        class="button_next"
        value="Next"
      />
    </form>
  </div>
</body>
